/* this the beginning of the ccs reset code we do this to make sure browser dont add unwanted effects to our html file*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000000;
  text-shadow: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

html,
body {
  min-height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

svg {
  display: inline-block;
  max-width: 100%;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border-radius: 0;
  border: none;
  background-color: transparent;
}

input,
textarea,
select {
  color: inherit;
  letter-spacing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000000;
  text-shadow: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

html,
body {
  min-height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

svg {
  display: inline-block;
  max-width: 100%;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border-radius: 0;
  border: none;
  background-color: transparent;
}

input,
textarea,
select {
  color: inherit;
  letter-spacing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  font-size: 1.6rem;
}
/* this the end of the ccs reset code we do this to make sure browser dont add unwanted effects to our html file*/



#container1 {
  background-image: url("../images/evolutie-latijns-alfabet.jpg"); /* Vervang met de URL van jouw afbeelding */
  background-size: cover; /* Zorgt ervoor dat de afbeelding de hele container vult */
  background-position: center; /* Plaatst de afbeelding gecentreerd */
  height: 960px; /* hooghte aangepast zodat de voledige afbeelding de container vult */
  display: flex; /* Maakt het mogelijk om de inhoud te centreren */
  align-items: center; /* Verticaal centreren */
  justify-content: center; /* Horizontaal centreren */
  text-align: center; /* Centraal uitlijnen van tekst */
  color: white; /* Pas de kleur van de tekst aan voor betere zichtbaarheid */
}
#h1
{
  font-size: 50px;
  color:aqua
}
#h2
{
  font-size: 50px;
  color:rgb(0, 255, 0)
}
#img1
{
  float: right;
}



  

